.nav{
	margin:0 0 1em;
	background-color: #ff7500;
	height: 70px;
	display:flex;
	align-items: center;
}
a{
	color:white;
}

/* para el hover mantener el color blanco*/
.nav-link:hover{
	color:white ;
}